<div id="accordion">
{{#each tab}}
  <div class="card">
    <div class="card-header" id="heading_{{@index}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{@index}}" aria-expanded="true" aria-controls="collapse_{{@index}}">
          {{this.title}} 
        </button>
      </h5>
    </div>

    <div id="collapse_{{@index}}" class="collapse" aria-labelledby="heading_{{@index}}" data-parent="#accordion">
      <div class="card-body">
        {{this.body}}
      </div>
    </div>
  </div>
  {{/each}}
</div>